.AmountSelector {
  display: flex;

  border-width: 1px 0;
  border-color: $lightGray;
  border-style: solid;

  & .increment {
    flex-basis: 0;
    flex-grow: 1;

    text-align: center;

    padding: 15px;

    border-right: 1px solid $lightGray;

    & .value {
      margin: 0 auto;
      width: 80%;
      padding: 8px;
      border-bottom: 3px solid $lightGray;
    }

    &.is-last {
      border-right: 0;
    }

    &:hover {
      cursor: pointer;
      background: $lightGray;
      color: white;

      & .value {
        border-color: white;
      }
    }

    &.is-selected {
      & .value {
        border-color: $green;
      }

      &:hover {
        background: $green;

        & .value {
          border-color: white;
        }
      }
    }
  }
}
