.Input {
	display: flex;
	flex-direction: column;
	margin: 10px;
	position: relative;
	cursor: text;

  &:hover label {
    color: $green;
  }

  input {
    border-bottom: 3px solid $lightGray;
		order: 2;
    padding: 5px;
  }

  input:focus + label,
	input:valid + label {
    transform: scale(0.8) translate3d(0, 5px, 0);
  }

	input:focus + label {
		color: $green;
	}

  label {
    color: $gray;
    pointer-events: none;
    transition: 200ms ease all;
    transform-origin: left top;
    transform: scale(1) translate3d(0, 22px, 0);
  }

	.bar {
		position: relative;
		top: 31px;
	}

  .bar::before {
  	background: $green;
  	bottom: 0;
  	content: "";
  	height: 3px;
  	position: absolute;
  	transition: 200ms ease all;
  	width: 0;
  }

  input:focus ~ .bar::before {
    width: 100%;
  }

	.error {
		color: $red;
		padding-top: 2px;
		font-size: .7rem;
		height: 10px;
		order: 2;
	}

	&.has-error {
		caret-color: $red;

		::selection {
			background: $red;
		}

		label,
		input:focus + label {
			color: $red;
		}

		.bar::before {
			width: 100%;
			background: $red;
		}
	}
}
