#info {
  .header {
    display: flex;
    align-items: baseline;
  }

  .header h2 {
    padding: 20px;
  }

  .header span {
    color: $gray;
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;    
  }
}
