// list of css in the main namespace:
// html, body
// #app
// #root

// #header
// #body
// #footer

// #amount
// #info
// #payment

// .AmountSelector

$gray: gray;
$lightGray: lightgray;

$green: #97b536;
$lightGreen: lightgreen;

html, body, #app {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  color: #333;

  background: #EFEFEF;
}
